html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}

.jodit-status-bar-link {
  display: none;
}

input::placeholder {
  color: #999;
  /* Placeholder text color */
  font-style: italic;
  /* Italics, if desired */
  /* Add any other CSS styles you want for the placeholder text */
}


label {
  font-weight: 100;
}


._stepbackgroundalkdmsaldkma {
  background: #ddd;
  width: 100%;
  right: 0;
  left: 0;
}

.exssubmitform {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  padding: 20px 20px 20px;
  margin: 0 auto;
}




.accordion-item {
  border: unset;
}


.accordion-header {
  border: unset;
}
